img{
    width: 10px;
}

mat-toolbar.mat-toolbar-row, 
mat-toolbar.mat-toolbar-single-row{
    background-color: rgb(169, 194, 186);
    color:rgb(15, 15, 15);
}

// icono
.mat-icon-button{
    border-radius: 0px;
    background: transparent;
}