<h1>Inputs</h1>

<div>
  <mat-form-field>
    <input matInput placeholder="Escribe aquí" type="text">
  </mat-form-field>
</div>

<h2>Prefijos y sufijos</h2>
<div>
  <mat-form-field>
    <span matPrefix>+34</span>
    <input matInput placeholder="Teléfono" type="text">
  </mat-form-field>

  <mat-form-field>
    <span matSuffix>;)</span>
    <input matInput placeholder="Teléfono" type="text">
  </mat-form-field>
</div>

<h2>pistas</h2>
<div>
    <mat-form-field>
     
      <input matInput placeholder="Aficiones" type="text">
      <mat-hint>Ejemplo: Baloncesto, leer, viajar...</mat-hint>
    </mat-form-field>
  
   
  </div>