<div class="botones">
    <h1>BOTONES</h1>
    <button mat-button color="primary">Click me!</button>
    
    <h2>elevados</h2>
    <button mat-raised-button>Click me!</button>
    
    
    <h3>con iconos</h3>
    <div>
        <button mat-icon-button>
            <mat-icon>grade</mat-icon>
            </button>
            <button mat-icon-button color="secondary">
                <mat-icon>grade</mat-icon>
                </button>
    </div>
    
    <h2>botones flotantes</h2>
    <button mat-fab> <mat-icon>add</mat-icon></button>

</div>
