<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
         BOTONES
        </mat-panel-title>
        <mat-panel-description>
         Botones de ejemplo
        </mat-panel-description>
      </mat-expansion-panel-header>
    
      <jareina-boton></jareina-boton>


</mat-expansion-panel>


<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
         INPUTS
        </mat-panel-title>
        <mat-panel-description>
         Inputs de ejemplo
        </mat-panel-description>
      </mat-expansion-panel-header>
    
      <jareina-input></jareina-input>


</mat-expansion-panel>